h1{
    color: green;
}
p{
    color: coral;
}
h1{
    font-family: sans-serif;
}
p{
    font-family: fantasy;
}

ul {
    list-style-image: url('../Images/pointer-icon.png');
}
ol {
    list-style-type: upper-roman;
}